[submodule "3rd/jemalloc"]
	path = 3rd/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "3rd/lua-iconv"]
	path = 3rd/lua-iconv
	url = https://github.com/ittner/lua-iconv.git
[submodule "3rd/lua-openssl"]
	path = 3rd/lua-openssl
	url = https://github.com/zhaozg/lua-openssl.git
